<div id="payments" class="modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;position: absolute">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Stack One</h4>
  </div>
  <div class="modal-body">
    <% payments.map do |k,p| %>
        <%= link_to (image_tag p[:image]), p[:path]+'?project_id='+@project.id.to_s %>
    <% end %>
  </div>
</div>
