<div class="content-box">
  <div class="box">
    <h1 class="title">Все категории</h1>
    <p id="notice"><%= notice %></p>

    <div class="left-column">
      <div class="categories-sidebar">
        <ul>
          <% @categories.each do |c| %>
              <li>
                <%= link_to c.name, c  %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="right-column">
        <% if @projects.any? %>
            <% @projects.each do |p| %>
                  <%= render partial:'projects/partials/project_block', :locals => {p: p} %>
              <% end %>
          <% end %>
      <div class="paginate">
        <%= will_paginate @projects, renderer: BootstrapPagination::Rails, :previous_label => '<i class="glyphicon glyphicon-backward"> Туда </i>', :next_label => 'Сюда <i class="glyphicon glyphicon-forward"> </i>' %>
      </div>
    </div>

  </div>
</div>